@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Inter', sans-serif;
}

.dark {
  --ui-bg: hsl(224 71% 4%);
  --ui-border: hsl(216 34% 17%);
  --ui-primary: hsl(210 40% 98%);
  --ui-secondary: #facc15;
  --ui-success: var(--ui-color-success-400);
  --ui-info: hsla(276, 68%, 63%, 1.00);
  --ui-warning: var(--ui-color-warning-400);
  --ui-error: var(--ui-color-error-400);
}

.app-container {
  display: flex;
  height: 100vh;
  color: #fff;
}

.sidebar {
  width: 300px;
  padding: 16px;
}
.main-content {
  flex-grow: 1;
  padding: 30px 0;
}

p a {
  @apply no-underline hover:underline
}