NODE_ENV=development
SITE_URL=http://localhost:3000

# Supabase 
# Project name: sandbox
# https://supabase.com/dashboard/project/xxx

SUPABASE_URL=https://xxx.supabase.co
SUPABASE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_SERVICE_KEY=

DATABASE_URL="postgres://postgres.xxx:xxx@aws-0-us-east-1.pooler.supabase.com:5432/postgres"

# Polar
# Environment: sandbox.polar.sh
# https://sandbox.polar.sh/dashboard/xxx

POLAR_ACCESS_TOKEN=
POLAR_CHECKOUT_SUCCESS_URL=/payment?checkout_id={CHECKOUT_ID}
POLAR_SERVER=sandbox

# Services
# Deployed with AWS CDK
PROVIDER_STACK=https://thunderso.s3.amazonaws.com/ThunderProviderStack-sandbox.yml

RUNNER_ASSUME_ROLE_ARN=arn:aws:iam::000:role/RunnerCrossAccountRole-sandbox
RUNNER_REGION=us-east-1
RUNNER_SERVICE=https://sqs.us-east-1.amazonaws.com/000/RunnerQueue-sandbox.fifo

# Github App
# https://github.com/organizations/thunder-so/settings/apps/thunder-so
# The GH_ prefix variables are required during build (Github Actions does not allow GITHUB_)
# The GITHUB_ prefix variables are required for SSR
GH_APP=sandbox 
GITHUB_APP_ID=1072865
GITHUB_PRIVATE_KEY=""  # must be base64 encoded 
GH_CLIENT_ID=
GITHUB_CLIENT_SECRET=
