NODE_ENV=development
SITE_URL=http://localhost:3000
AWS_ACCOUNT=0477196623XX
AWS_REGION=ap-southeast-1

# Supabase 
# Project name: sandbox
# https://supabase.com/dashboard/project/arjvdjwyetmbrvualaey
SUPABASE_URL=https://project.supabase.co
SUPABASE_KEY=sb_publishable_***
SUPABASE_SECRET_KEY=sb_secret_***
DATABASE_URL="postgres://postgres.project:***@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# Services
# Deployed with AWS CDK
PROVIDER_STACK=https://thunderso.s3.amazonaws.com/ThunderProviderStack-sandbox.yml
RUNNER_REGION=us-east-1
# RUNNER_ASSUME_ROLE_ARN=arn:aws:iam::0477196623XX:role/RunnerCrossAccountRole-sandbox
RUNNER_SERVICE=https://sqs.us-east-1.amazonaws.com/0477196623XX/RunnerQueue-sandbox.fifo

# Github App
# https://github.com/organizations/thunder-so/settings/apps/thunder-sandbox
# The GH_ prefix variables are required during build (Github Actions does not allow GITHUB_)
# GH_PRIVATE_KEY should be a base64 encoded string without new lines
GH_APP=thunder-sandbox
GH_APP_ID=000
GH_PRIVATE_KEY=""
GH_CLIENT_ID=IvXXX
GH_CLIENT_SECRET=***

# Polar
# Environment: sandbox.polar.sh
# https://sandbox.polar.sh/dashboard/cloudbits
POLAR_SERVER=sandbox
POLAR_ACCESS_TOKEN=polar_oat_***
POLAR_CHECKOUT_SUCCESS_URL=/payment?checkout_id={CHECKOUT_ID}

# Posthog
POSTHOG_HOST=https://us.posthog.com
POSTHOG_API_KEY=phc_***

